<div id="reply">
  
  <div id="replyCred">
    <%= reply.commenter %>
    at <%=reply.created_at%>
  </div>
 
  <div id="replyContent">
    <%= reply.body %>
  </div>
  <div>
    <%= link_to 'Delete Reply', [reply.post, reply],
                method: :delete,
                data: {confirm: 'Are you sure' } %>
  </div>
</div>