<div id="reply">
  
  <div id="replyCred">
    <%= reply.commenter %>
    at <%=reply.created_at%>
  </div>
 
  <div id="replyContent">
    <%= reply.body %>
  </div>
  <% if current_user%>
    <% if current_user.uid.eql?reply.commenter_id %>
      <div id="replyDelete">
        <%= link_to 'Delete Reply', [reply.post, reply],
                    method: :delete,
                    data: {confirm: 'Are you sure' } %>
      </div>
    <% end %>
  <% end %>
</div>