// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
    width: 100%;
    text-align: left;
}

#title {
    font-size: 36px;
}
input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

textarea {
    width: 50%;
    height: 300%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button], input[type=submit] {
    background-color: #4CAF50;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}
:link {
    background-color: #4CAF50;
    float: left;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}

