// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// table{
//     width: 90%;
//     text-align: left;
//     tr:nth-child(even) {background-color: #cff9dd;}
//     border-radius: 12px;
// }

// #title {
//     font-size: 36px;
// }
// input[type=text] {
//     width: 50%;
//     padding: 12px 12px;
//     border: 2px solid #ccc;
//     background-color: #f8f8f8;
// }

// textarea {
//     width: 50%;
//     height: 300%;
//     padding: 12px 12px;
//     border: 2px solid #ccc;
//     background-color: #f8f8f8;
//     resize: none;
// }

// input[type=button], input[type=submit] {
//     background-color: #4CAF50;
//     float: right;
//     border: none;
//     color: white;
//     padding: 16px 20px;
//     text-decoration: none;
//     cursor: pointer;
//     border-radius: 12px;
// }
// :link {
//      background-color: #4CAF50;
//     float: left;
//     border: none;
//     color: white;
//     padding: 16px 20px;
//     text-decoration: none;
//     cursor: pointer;
//     border-radius: 12px;
// }
.index1{
    border: 1px solid black;
    width: 60%;
    overflow-x:auto;
    margin:auto;
    padding:10px;
}
.postTable{
    width:100%;
    text-align:left;
}
#post{
    padding:10px;
    text-align:left;
    width:60%;
    margin:auto;
}
#postTitle{
    border:solid black 1px;
    background-color:#47995c;
}
#postCred{
    
    padding:5px;

}
#postContent{
    text-align:left;
    padding:10px;
    border:solid black 1px;
}
#nav{
    
    margin:auto;
    width:65%;
    
}
.link{
    background-color: #4CAF50;
    border-radius: 4px;
    width:10px;
    height:10px;
}
#createPostForm{
    
    width:70%;
    border:solid black 1px;
    margin: auto;
    padding-bottom: 20px;
    background-color:#47995c;
}
#createPostCred{
    width:80%;
    background-color:white;
    margin: auto;
    padding:10px;
    padding-top:15px;
}
#createPostCred input[type=text]{
    width:72%;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}
#createPostCred select{
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}
#createPostContent{
    padding:10px;
    width:80%;
    margin: auto;
    background-color:white;
}
#createPostContent textarea{
    width: 99%;
    height: 100px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
    margin:auto;
}
#createPostButton{
    margin: auto;
    padding-top:20px;
}
ul{
    list-style-type: none;
}

