// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#majorChange{
    border:solid #47995c 10px;
    width:40%;
    margin: auto;
    
}