// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


th{
    background-color:#47995c;
}
.index1 tr:hover {background-color:#cff9dd;}
// tr:hover:nth-child(even) {background-color: #cff9dd;}
tr:nth-child(even) {background-color: #f2f2f2;}
